body {
    display: grid;
    height: 100vh;
    /* grid-template: auto auto auto / 300px 1fr auto; */
    grid-auto-columns: 1fr; 
    grid-template-columns: 1.6fr 0.4fr; 
    grid-template-rows: 0.5fr 0.3fr 2.7fr 0.5fr; 
    gap: 0px 0px; 
    margin: 0;
    padding:0;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  .main-navigation {
    background: lightblue;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  
  main {
    background: coral;
    grid-column: 1 / 3;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  