@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f9faf9;
    font-family: 'Josefin Sans', 'Lucida Grande', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto 1fr auto auto auto;
}

header {
    grid-column: 1 / 3;
    display: flex;
}

.joinButton, .memberButton {
    display: none;
}


#mode {
    display: inline-block;
	top: 1rem;
	right: 1rem;
    cursor: pointer;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

nav {
    grid-column: 1 / 3;
    background-color: #2ea6bc;
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #007587;
	color: white;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: white;
}
.navigation a:hover {
    text-decoration: underline;
}


/* hamburger menu */
.open a {
	display: block;
}
#menu {
	display: block;
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}
/* --------------- */

main {
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#hero-box {
    position: relative;
    margin: auto;
    grid-column: 1 / -1;
    width: 100%;
}
.hero-image {
    max-height: 550px;
    object-fit: cover;
    width: auto;
} 


.hero-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hero-msg h1 {
    margin: 0;
    font-size: 1.2em;
    padding: 10px;
    background-color: transparent;
    color: white;
    text-align: start;
    font-family: 'Allerta', Tahoma, sans-serif;
}
.hero-msg p {
    margin: 10px 0;
    font-size: 0.8em;
    max-width: 100%;
    text-align: left;
}
.heroButton {
    padding: 20px 20px;
    font-size: 1em;
    background-color: #007587;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contactMsg h4 {
    padding-bottom: 10px;
    text-align: center;
}
#contactMsg p {
    text-align: center;
}

#joinBox, #eventBox, #aboutBox, #weatherBox {
    box-shadow: 4px 5px 10px #2ea6bc;
    border-radius: 5px;
    border: 5px transparent;
    background-color: white;
    overflow: hidden;
    text-align: center;
    padding: 10%;
}
.boxImage {
    border-radius: 50%;
}

#canyonPic {
    border-radius: 20px;
}
@media (max-width: 640px) {
    #imageBox {
        display: none;
    }
    .home-grid h3 {
        font-size: 1.0rem;
    }
    .home-grid p {
        font-size: 1.0rem;
    }
    header {
        justify-content: center;
    }
    #joinBox, #eventBox, #aboutBox, #weatherBox {
        font-size: 10px;
        width: 300px;
        margin: auto;
    }
    .boxImage {
        width: 70px;
    }
    #local {
        display: none;
    }
    #footerInfo {
        flex-direction: column;
    }
    #logoInfo, #addressInfo, #contactInfo {
        margin-bottom: 20px;
    }
}
#chamberAbout, #chamberDemo, #chamberEconomy, #chamberEmployment, #chamberArts {
    box-shadow: 4px 5px 10px #2ea6bc;
    border-radius: 5px;
    border: 5px transparent;
    background-color: white;
    overflow: hidden;
    text-align: center;
    padding: 10%;
}


.discoverImage {
    border-radius: 5%;
}

#discoveryInfo > div {
    margin: 20px;
  }

#memberType caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}


tbody > tr:nth-child(even) {
    background-color: rgb(239, 236, 236);
}
td {
    padding: 10px;
}
#bronze {
    background-color: darkgoldenrod;
    padding: 20px;
}
#silver {
    background-color: silver;
    padding: 20px;
}
#gold {
    background-color: gold;
    padding: 20px;
}
#np {
    background-color:ghostwhite ;
    padding: 20px;
}

#memberForm {
    margin-top: 30px;
  }
  
  #thankyou {
    text-align: center;
  }
  /*----------- FORM STYLING --------------*/
.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}
.wfi legend {
    color: #445ba9;
    padding: 0 .5rem;
}
.wf1 label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}
.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 select,
.wf1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#2ea6bc, #007587);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}
.wf1 input:required {
    border-bottom: solid 8px red;
}
.wf1 input:required:valid {
    border-bottom: solid 8px green;
}

#memberType {
    box-shadow: 4px 5px 10px #2ea6bc;
    border-radius: 5px;
    border: 5px transparent;
    background-color: white;
    overflow: hidden;
    padding: 10%;
}

#contact {
    text-align: center;
}
#local {
    background-color: white;
}
footer {
    background: #007587;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: white;
}

.memberHeading {
    text-align: center;
}

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
    background-color: #007587;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    font-size: 16px;
}

/* .directoryBox {
    box-shadow: 4px 5px 10px #2ea6bc;
    border-radius: 5px;
    border: 5px transparent;
    background-color: white;
    overflow: hidden;
    text-align: center;
    padding: 10%;
} */


/* .directoryBox p {
    margin-bottom: 0.5em;
}

.directoryBox h3 {
    margin-bottom: 0.5em;
}

.directoryList {
	display: flex;
	flex-direction: column;
}
.directoryList {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}
.directoryList > * {
	margin: 0 1rem;
}
.directoryList img {
	display: none; 
}
.directoryList:nth-child(even) {
	background-color: #bed;
} */



.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .member-grid section {
    padding: 0.5rem;
    background-color: white;
    margin: 20px;
    flex-basis: calc(33.33% - 40px);
    box-shadow: 4px 4px 4px 0px #2ea6bc;
    border-radius: 5px;
  }
  .grid section {
    text-align: center;
    min-width: 300px;
  }
  .grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .grid section > * {
    margin: 0.1rem;
  }
  .grid h3 {
    margin: 20px;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
  .list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .list section:nth-child(even) {
	background-color: rgb(236, 240, 239);
    }
  .list img {
    display: none;
  }
  .list section > * {
    margin: 0 1rem;
  }
  .list section h3 {
    font-size: 1rem;
  }
  .directory-main section h3 {
    font-size: 1.5rem;
  }
  .directory-main section p {
    font-size: 16px;
    font-weight: 600;
    font-size: smaller;
    padding-bottom: 20px;
  }
  .directory-main section a {
    font-size: 0.85rem;
    letter-spacing: 1.1pt;
  }
  .directory-main img {
    height: 75px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 16px;
    margin: 20px;
  }


#footerInfo {
    display: flex;
    justify-content: space-around;
}

