@media screen and (min-width: 640px){
    header {
        flex-direction: row;
    }

    #mode {
        font-size: 2rem;
    }

    .joinButton {
        background-color: #007587;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        height: 50%;
        align-self: center;
        margin-left: auto;
    }
    .memberButton {
        background-color: #007587;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        height: 50%;
        align-self: center;
        align-items: flex-end;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    
    
    .navigation {
		flex-direction: row;
	}
    
    .navigation a {
		display: block;
		flex: 1 1 100%;
	}

    #menu {
		display: none; /* hide hamburger button */
	}

    main {
        padding: 1rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .heroButton {
        font-size: 1.5rem;
        border: 0;
        position: relative;
        padding: 10px;
    }
    .hero-msg {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .hero-msg h1 {
        font-size: 3.5em;
    }
    .hero-msg p {
        font-size: 1.2em;
        max-width: 800px;
    }

    #joinBox {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #eventBox {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #aboutBox {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #weatherBox {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #imageBox {
        grid-column: 3/4;
        grid-row: 2/4;
    }
    #contactMsg {
        grid-column: 1/-1;
        grid-row: 4/5;
        text-align: center;
        margin-top: 3rem;
    }
    #contact {
        grid-column: 1/-1;
        grid-row: 5/6;
        display: inline-flex;
        justify-content: space-around;
    }
    #local {
        grid-column: 1/-1;
        grid-row: 7/8;
        display: inline-flex;
        justify-content: space-around;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    footer {
        grid-column: 1/-1;
        grid-row: 8/9;
    }

}