@media screen and (min-width: 640px){
   /* .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
} */

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex: 1 1 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.card {
    width: auto;
}

.card h3 {
    margin: 0;
}

.card ul {
    margin: 0;
}
}